<tr id="<%= dom_id(category) %>">
  <td class="px-6 py-4">
    <div class="w-6 h-6 rounded-full" style="background-color: <%= category.color %>"></div>
  </td>
  <td class="px-6 py-4 text-sm text-gray-900"><%= category.name %></td>
  <td class="px-6 py-4 text-sm text-gray-500"><%= category.keyword %></td>
  <td class="px-6 py-4 text-right text-sm">
    <%= link_to '수정', edit_workspace_category_path(@workspace, category), class: 'text-indigo-600 hover:text-indigo-900 mr-3' %>
    <%= link_to '삭제', workspace_category_path(@workspace, category), method: :delete, data: { turbo_confirm: '정말 삭제하시겠습니까?' }, class: 'text-red-600 hover:text-red-900' %>
  </td>
</tr>
